.header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 67px;
    background-color: #C3CFD9;
    color: #E8833A;
    font-family: Roboto;
    font-weight: 400;
    font-size: 34px;
}
